<div class="comments-container">
  <strong><%= Comment.model_name.human %>:</strong>
  <% comments = commentable.comments.order(:id).includes(:user).presence %>
  <div id="no-comments">
    <%= t('.no_comments') unless comments %>
  </div>
  <ul id="comments">
    <% Array(comments).each do |comment| %>
      <%= render 'shared/comment_content', comment: comment %>
    <% end %>
  </ul>
  <div id="comment_form">
    <%= render 'shared/comment_form', commentable: commentable %>
  </div>
</div>
