<div class="comments-container">
  <strong><%= Comment.model_name.human %>:</strong>
  <div id="comments">
    <%= render 'shared/comment_contents', commentable: commentable %>
  </div>
  <div id="comment_form">
    <%= render 'shared/comment_form', commentable: commentable %>
  </div>
</div>
