<h1><%= t 'title.editing_book' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('actions.show_this_book'), @book %> |
  <%= link_to t('actions.back_to_books'), books_path %>
</nav>
