<h1><%= t('views.common.title_index', name: i18n_pluralize(Book.model_name.human)) %></h1>

<nav class="page-nav">
  <%= link_to t('views.common.new', name: Book.model_name.human.downcase), new_book_path %>
</nav>

<div id="books" class="index-items">
  <%= render partial: 'book_item', collection: @books, as: :book %>
</div>

<%= render 'shared/pager', records: @books %>
